.logoPicnight{
width: 10em;
}
.loader-container.hidden{
    opacity: 0;
    visibility: hidden;
}
.loader-container{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 0% 0%, #003059 0, #002f5c 6.25%, #002e5f 12.5%, #002c60 18.75%, #002b61 25%, #002860 31.25%, #00265f 37.5%, #06235c 43.75%, #1f1f59 50%, #2d1b55 56.25%, #371650 62.5%, #40114b 68.75%, #460b45 75%, #4c053e 81.25%, #500037 87.5%, #530031 93.75%, #55002a 100%);
    transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
}
.loader{
    width: 10em;
    height: 10em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)  scale(1);
        opacity: 0;
    animation: loader 7s linear infinite;
}

@keyframes loader{
    10% {
        transform:translate(-50%, -50%)  scale(1.3);
    }
     25% {
        transform: translate(-50%, -50%) scale(1);
    } 
   
    50% {
        transform: translate(-50%, -50%) scale(1.3);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}